#top {
    background-color: rgb(9, 57, 9);
    text-align: center;
}

.forecast {
    background-color: lightgreen;
}

.flex-container {
    display: flex;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.right {
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
}

.left {
    width: 20%;
}

.entertainment {
    background-color: #388E3C;
}