#top {
    background-color: rgb(9, 57, 9);
    text-align: center;
}



.title {
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.flex-container {
    display: flex;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.right {
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
}

.left {
    width: 20%;
}


.top-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aqua;
}