#top {
   
    text-align: center;
}



.title {
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.flex-container {
    display: flex;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.right {
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
}

.left {
    width: 20%;
}

.entertainment {
    background-color: #388E3C;
}

.top-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: yellow;
}


 .artist-cards {
    background-color: yellow;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    
}

.artist-content {
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    border: 1px solid #388E3C;
}